# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Score Counter App.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Score Counter App\Score Counter App\.idea\.idea.Score Counter App\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
